.project__thumbnail {
  background: radial-gradient(
      50% 70.31% at 50% 0%,
      rgba(126, 61, 255, 0.04) 0%,
      rgba(126, 61, 255, 0) 100%
    ),
    rgba(11, 1, 29, 0.01);
  backdrop-filter: blur(8.5px);
  border-radius: 16px;
}
.project__thumbnail::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  padding: 1px;
  background: linear-gradient(
      105.43deg,
      rgba(168, 128, 255, 0) 25.1%,
      rgba(168, 128, 255, 0.32) 72.57%,
      rgba(168, 128, 255, 0) 102.57%
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
