@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[1300px] mx-auto px-3 lg:px-4 xl:px-0;
}

.primary__btn {
  @apply bg-primary text-sm text-accent px-12 py-[10px] rounded-md border border-primary hover:bg-accent hover:text-primary duration-300 transition-all;
}

.nav__link {
  @apply text-sm text-off-white px-4 py-[6px] border border-transparent transition-all duration-300 hover:bg-[#ffffff14] hover:border-[#ffffff14] rounded-md;
}

.outline__btn {
  @apply bg-accent text-sm text-off-white px-12 py-[10px] rounded-md border border-off-white hover:bg-off-white hover:text-accent duration-300 transition-all;
}

.btn__sm {
  @apply bg-off-white text-sm px-4 py-[6px] rounded-md border border-off-white;
}

.hero__heading {
  background: linear-gradient(
    180deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.line__brake {
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  bottom: auto;
  width: 100%;
  height: 1px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
    96.18deg,
    rgba(215, 196, 255, 0) 25%,
    rgba(215, 196, 255, 0.24) 50%,
    rgba(215, 196, 255, 0) 75%
  );
}

.btn__pill {
  background: radial-gradient(
      57.38% 100% at 50% 0%,
      rgba(168, 128, 255, 0.12) 0%,
      rgba(168, 128, 255, 0) 100%
    ),
    rgba(255, 255, 255, 0.05);
  box-shadow: inset 0px 0px 4px 2px rgba(168, 128, 255, 0.1);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  padding: 4px 12px 4px 8px;
  grid-column-gap: 4px;
  border-radius: 999px;
  display: flex;
  align-items: center;
}

.btn__pill::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  z-index: 1;
  top: -1px;
  left: 0;
  right: 0;
  bottom: -1px;
  border-radius: 50px;
  padding: 1px;
  background: linear-gradient(
    190deg,
    rgba(168, 128, 255, 0) 10.99%,
    rgba(168, 128, 255, 0.32) 26%,
    rgba(168, 128, 255, 0) 37%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
